Source: adaptation-xiaomi-beryllium
Maintainer: 1petro <petronazeh@gmail.com>
Section: metapackages
Priority: optional
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/Unofficial-droidian-for-pocof1/adaptation-xiaomi-beryllium
Vcs-Git: https://github.com/Unofficial-droidian-for-pocof1/adaptation-xiaomi-beryllium.git

Package: adaptation-xiaomi-beryllium
Architecture: all
Depends: ${misc:Depends},
         linux-bootimage-xiaomi-beryllium,
         adaptation-hybris-api28-phone,
         adaptation-xiaomi-beryllium-configs,
Description: adapatation-xiaomi-beryllium - meta
 pocof1 api28 adaptation metapackage

Package: adaptation-xiaomi-beryllium-configs
Architecture: all
Depends: ${misc:Depends},
         adaptation-xiaomi-beryllium (= ${binary:Version}),
Description: pocof1 specific adaptation configs
