Source: adaptation-xiaomi-polaris
Maintainer: notsyncing <song.fc@gmail.com>
Section: metapackages
Priority: optional
Build-Depends: debhelper (>= 10),
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/notsyncing/adaptation-xiaomi-polaris
Vcs-Git: https://github.com/notsyncing/adaptation-xiaomi-polaris.git

Package: adaptation-xiaomi-polaris
Architecture: arm64
Depends: ${misc:Depends},
         adaptation-hybris-api30-phone,
         adaptation-xiaomi-polaris-configs (= ${binary:Version}),
Description: Community adaptation for xiaomi-polaris - metapackage

Package: adaptation-xiaomi-polaris-configs
Architecture: arm64
Depends: ${misc:Depends},
Description: Community adaptation for xiaomi-polaris - adaptation configurations
