Source: adaptation-xiaomi-polaris
Maintainer: notsyncing <song.fc@gmail.com>
Section: metapackages
Priority: optional
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/notsyncing/adaptation-xiaomi-polaris
Vcs-Git: https://github.com/notsyncing/adaptation-xiaomi-polaris.git

Package: adaptation-xiaomi-polaris
Architecture: all
Depends: ${misc:Depends},
         linux-bootimage-xiaomi-polaris,
         adaptation-xiaomi-polaris-configs,
Description: adapatation-xiaomi-polaris - meta
 xiaomi mix 2s api30 adaptation metapackage

Package: adaptation-xiaomi-polaris-configs
Architecture: all
Depends: ${misc:Depends},
         adaptation-xiaomi-polaris (= ${binary:Version}),
Description: xiaomi mix 2s specific adaptation configs
